---
// IMPORTS ASTRO LAYOUTS
import Container from "@/layouts/container/index.astro"

// IMPORTS ASTRO COMPONENTS
import HomeProjectCard from "./card/index.astro"

// IMPORTS ASTRO ATOMS
import HeadingTwo from "@/atoms/headings/two/index.astro"

const { data, projects } = Astro.props
---
<Container>
    <section class="space-y-4 md:space-y-6 pb-4 md:py-10">
        <HeadingTwo>{ data.title }</HeadingTwo>
        <section class="grid md:grid-cols-3 gap-4 md:gap-6">
            {

                projects.map( ( value ) => {

                    return(

                        value.display_on_home &&

                        <HomeProjectCard
                            name={ value.name }
                            src={ value.cover }
                            alt={ value.name }
                        />
                    )

                })

            }
        </section>
    </section>
</Container>
