---
// IMPORTS ASTRO LAYOUTS
import Container from "@/layouts/Container.astro"

// IMPORTS ASTRO COMPONENTS
import HomeProjectItem from "./item/index.astro"

// IMPORTS ASTRO ATOMS
import HeadingTwo from "@/atoms/headings/two/index.astro"

const { data } = Astro.props
---
<Container>
    <section class="space-y-6 py-10">
        <HeadingTwo>Projects</HeadingTwo>
        <section class="grid md:grid-cols-3 gap-10">
            {

                data.map( ( value ) => {

                    return(
                        <HomeProjectItem
                            name={ value.name }
                            src={ value.cover }
                            alt={ value.name }
                        />
                    )

                })

            }
        </section>
    </section>
</Container>
