---
// IMPORTS ASTRO LAYOUTS
import Container from "@/layouts/Container.astro"

// IMPORTS ASTRO COMPONENTS
import HomeProjectItem from "./item/index.astro"

// IMPORTS ASTRO ATOMS
import HeadingTwo from "@/atoms/headings/two/index.astro"
---
<Container>
    <section class="space-y-6 py-10">
        <HeadingTwo>Projects</HeadingTwo>
        <section class="grid md:grid-cols-3 gap-10">
            <HomeProjectItem
                name="OseNorth"
                description=""
                src="/osenorth-cover.png"
                alt="OseNorth"
                github_link="https://github.com/bluppco/osenorth"
                website_link="https://osenorth.blupp.co"
            />
            <HomeProjectItem
                name="OseNorth"
                description=""
                src="/osenorth-cover.png"
                alt="OseNorth"
                github_link="https://github.com/bluppco/osenorth"
                website_link="https://osenorth.blupp.co"
            />
            <HomeProjectItem
                name="OseNorth"
                description=""
                src="/osenorth-cover.png"
                alt="OseNorth"
                github_link="https://github.com/bluppco/osenorth"
                website_link="https://osenorth.blupp.co"
            />
            <HomeProjectItem
                name="OseNorth"
                description=""
                src="/osenorth-cover.png"
                alt="OseNorth"
                github_link="https://github.com/bluppco/osenorth"
                website_link="https://osenorth.blupp.co"
            />
            <HomeProjectItem
                name="OseNorth"
                description=""
                src="/osenorth-cover.png"
                alt="OseNorth"
                github_link="https://github.com/bluppco/osenorth"
                website_link="https://osenorth.blupp.co"
            />
            <HomeProjectItem
                name="OseNorth"
                description=""
                src="/osenorth-cover.png"
                alt="OseNorth"
                github_link="https://github.com/bluppco/osenorth"
                website_link="https://osenorth.blupp.co"
            />
        </section>
    </section>
</Container>
