---
// IMPORTS ASTRO COMPONENTS
import Feature from "@/components/home/pricing/card/feature/index.astro"

// IMPORTS ASTRO ATOMS
import HeadingThree from "@/atoms/headings/three/semibold/index.astro"
import HeadingFive from "@/atoms/headings/five/semibold/index.astro"
import Paragraph from "@/atoms/paragraphs/regular/index.astro"
import BookACallButton from "@/atoms/buttons/book-a-call/index.astro"
import Link from "@/atoms/links/target-blank/index.astro"

const {

    description,
    price,
    type,
    perks,
    button_text,
    button_link,
    title

} = Astro.props
---
<div class="relative w-full border-[2px] border-zinc-300 hover:border-zinc-600 transition-all duration-300 rounded-2xl p-4 md:p-10 flex flex-col gap-10 justify-between shadow-lg">
    <div class="flex flex-col gap-2">
        <div class="flex gap-2 items-baseline">
            <!-- <HeadingThree>{ title }</HeadingThree> -->
            <HeadingThree>{ type }</HeadingThree>
            <!-- <HeadingFive>{ type }</HeadingFive> -->
        </div>
        <div class="flex gap-1 items-center">
            <span class="text-3xl font-inter_tight font-bold">${ price }</span><span class="text-3xl font-inter_tight text-gray-600"> /</span><span class="text-2xl font-inter_tight text-gray-600"> month</span>
        </div>
        <div class="md:h-14">
            <Paragraph>{ description }</Paragraph>
        </div>
        <div class="py-4 space-y-4">
            {

                perks.map( ( value ) => {

                    return(
                        <Feature
                            text={ value }
                        />
                    )

                })

            }
        </div>
    </div>
    <div class="w-full">
        <Link href={ button_link } aria_label="">
            <BookACallButton>{ button_text }</BookACallButton>
        </Link>
    </div>
    {

        type === "Pro" &&
        <div class="absolute w-full flex justify-center -top-6 left-0">
            <button class="h-12 px-6 bg-black text-white text-xs font-inter_tight tracking-widest rounded-full">Most Popular</button>
        </div>

    }
</div>
