---
// IMPORTING LAYOUTS
import Container from "../../layouts/Container.astro"

// IMPORTING COMPONENTS
import ProjectCard from "./ProjectCard.astro"

// IMPORTING ATOMS
import HeadingOne from "../atom/heading/One.astro"

const { data } = Astro.props
---
<Container>
    <section class="py-4 md:py-10 space-y-4 md:space-y-10 pt-28 md:pt-10">
        <HeadingOne>Projects</HeadingOne>
        <section class="grid md:grid-cols-2 gap-10">
            {

                data.map( ( value ) => {

                    return(
                        <ProjectCard
                            name={ value.name }
                            src={ value.cover }
                            alt={ value.name }
                            github_link={ value.github_link }
                            project_link={ value.project_link }
                            is_client={ value.is_client }
                            notion_setup={ value.notion_setup }
                            is_private={ value.is_private }
                            in_progress={ value.in_progress }
                        />
                    )

                })

            }
        </section>
    </section>
</Container>
