---
// IMPORTS ASTRO LAYOUTS
import Container from "@/layouts/container/index.astro"

// IMPORTS ASTRO COMPONENTS
import HomeBlogItem from "./item/index.astro"

// IMPORTS ASTRO ATOMS
import HeadingTwo from "@/atoms/headings/two/index.astro"

const { data } = Astro.props
---
<Container>
    <section class="space-y-6 py-10">
        <HeadingTwo>Blogs</HeadingTwo>
        <section class="grid md:grid-cols-3 gap-4 md:gap-6">
            {

                data.map( ( value ) => {

                    return(

                        value.display_on_home &&

                        <HomeBlogItem
                            date={ value.date }
                            image={ value.cover }
                            title={ value.title }
                            slug={ value.slug }
                        />
                    )

                })

            }
        </section>
    </section>
</Container>
