---
// IMPORTS ASTRO LAYOUTS
import Container from "@/layouts/container/index.astro"

// IMPORTS ASTRO COMPONENTS
import HomeBlogCard from "./card/index.astro"

// IMPORTS ASTRO ATOMS
import HeadingTwo from "@/atoms/headings/two/index.astro"

const {

    data,
    blogs,
    CDN_LINK,
	PROJECT_NAME,
	IMAGE_QUALITY

} = Astro.props
---
<Container>
    <section class="space-y-4 md:space-y-6 pb-4 md:py-10">
        <HeadingTwo>{ data.title }</HeadingTwo>
        <section class="grid md:grid-cols-3 gap-4 md:gap-6">
            {

                blogs.map( ( value ) => {

                    return(

                        value.display_on_home &&

                        <HomeBlogCard
                            date={ value.date }
                            image={ value.cover }
                            title={ value.title }
                            slug={ value.slug }
                            CDN_LINK={ CDN_LINK }
                            PROJECT_NAME={ PROJECT_NAME }
                            IMAGE_QUALITY={ IMAGE_QUALITY }
                        />
                    )

                })

            }
        </section>
    </section>
</Container>
