---
const {

    href,
    src,
    alt,
    CDN_LINK,
    PROJECT,
    IMAGE_QUALITY

} = Astro.props
---
<a href={ href } target="_blank">
    <div class="w-60 h-20">
        <img
            src={ CDN_LINK + PROJECT + "/" + src + "?quality=" + IMAGE_QUALITY }
            alt={ alt }
            class="w-full h-full object-contain"
        />
    </div>
</a>
