---
// IMPORTS CONSTANTS
import { IMAGE_QUALITY } from "@/constants/images"

const {

    href,
    src,
    alt,
    CDN,
    PROJECT

} = Astro.props
---
<a href={ href } target="_blank">
    <div class="w-60 h-20">
        <img
            src={ CDN + PROJECT + "/" + src + "?quality=" + IMAGE_QUALITY }
            alt={ alt }
            class="w-full h-full object-contain"
        />
    </div>
</a>
