---
const {

    href,
    src,
    alt

} = Astro.props
---
<a href={ href } target="_blank">
    <div class="w-60 h-20">
        <img
            src={ src }
            alt={ alt }
            class="w-full h-full object-contain"
        />
    </div>
</a>
