---
// IMPORTING ASTRO LAYOUTS
import Container from "@/layouts/container/index.astro"

// IMPORTING ASTRO ATOMS
import HeadingOne from "@/atoms/headings/one/index.astro"

const { data } = Astro.props
---
<Container>
    <section class="py-10 pt-28 md:pt-28 space-y-4">
        <HeadingOne>About Blupp Company</HeadingOne>
        <section set:html={ data } class="markdown" />
    </section>
</Container>
