---
// IMPORTS ASTRO ATOMS
import ListItem from "@/atoms/footer/list-item/index.astro"
---
<section>
    <ul class="space-y-2">
        <ListItem href="/about" aria_label="">About</ListItem>
        <ListItem href="/projects" aria_label="">Projects</ListItem>
        <ListItem href="/blogs" aria_label="">Blogs</ListItem>
        <ListItem href="/contact-us" aria_label="">Contact Us</ListItem>
        <ListItem href="/privacy-policy" aria_label="">Privacy Policy</ListItem>
        <ListItem href="/terms-and-conditions" aria_label="">Terms and conditions</ListItem>
    </ul>
</section>
