---
// IMPORTS ASTRO LAYOUTS
import Container from "@/layouts/container/index.astro"

const { terms } = Astro.props
---
<Container>
    <section class="pt-20 md:pt-16">
        <section set:html={ terms } class="markdown py-4 md:py-10" />
    </section>
</Container>
