---
// IMPORTS ASTRO LAYOUTS
import Container from "@/layouts/container/index.astro"

// IMPORTS ASTRO ATOMS
import HeadingTwo from "@/atoms/headings/two/index.astro"
import Paragraph from "@/atoms/paragraphs/large/index.astro"

const {

    CDN,
    data,
    PROJECT

} = Astro.props

---
<section class="bg-gray-50">
    <Container>
        <section class="grid grid-cols-2 gap-4">
            <section class="p-20">
                <Paragraph>{ data.description }</Paragraph>
            </section>
            <section class="flex justify-end p-20 bg-zinc-200 w-full aspect-[3/2]" style=`background-image: url(${ CDN + PROJECT + "/" + data.cover + "?quality=80" })`>
                <HeadingTwo>{ data.title }</HeadingTwo>
            </section>
        </section>
    </Container>
</section>
