---
// IMPORTS ASTRO ATOMS
import HeadingTwo from "@/atoms/headings/two/center/index.astro"
import Paragraph from "@/atoms/paragraphs/large/index.astro"
import Picture from "@/atoms/picture/index.astro"

const {

    CDN,
    data,
    PROJECT

} = Astro.props

---
<section class="space-y-4 md:space-y-6 px-4 md:px-0">
    <HeadingTwo>{ data.title }</HeadingTwo>
    <section class="bg-gray-50 ">
        <section class="grid md:grid-cols-2 gap-4">
            <section class="pb-4 md:pb-0 md:p-20 order-last md:order-none">
                <Paragraph>{ data.description }</Paragraph>
            </section>
        <section>
            <Picture
                alt={ data.title }
                CDN={ CDN }
                image_width="1000"
                PROJECT={ PROJECT }
                src={ data.cover }
            />
        </section>
    </section>
</section>
