<button class="w-full h-12 px-4 bg-black hover:bg-white hover:text-black border border-black text-white text-sm font-inter_tight tracking-widest rounded-md transition-all duration-200">
    <slot/>
</button>
