<button class="group-hover:bg-black w-full h-12 px-4 bg-black/80 hover:bg-black/90 border border-black text-white text-sm font-inter_tight tracking-widest rounded-md transition-all duration-200">
    <slot/>
</button>
