<button class="bg-black hover:bg-black/80 transition-all duration-300 h-10 flex items-center px-4 rounded-lg text-white text-sm tracking-widest font-inter_tight border border-gray-200">
    <slot/>
</button>
