<button class="bg-black hover:bg-white hover:text-black transition-all duration-300 h-10 flex items-center px-4 rounded-lg text-white text-sm tracking-widest border border-gray-200">
    <slot/>
</button>
