---
// IMPORTS ASTRO LAYOUTS
import Container from "@/layouts/container/index.astro"

// IMPORTS ASTRO COMPONENTS
import PricingCard from "@/components/home/pricing/card/index.astro"

// IMPORTS ASTRO ATOMS
import HeadingTwo from "@/atoms/headings/two/center/index.astro"
import HeadingThree from "@/atoms/headings/three/index.astro"

// IMPORTS MARKED
import { marked } from "marked"

const { data, pricing } = Astro.props
const html = marked.parse( data.description )
---
<section class="py-10">
    <Container>
        <section class="space-y-4 md:space-y-14">
            <HeadingTwo>{ data.title }</HeadingTwo>
            <section class="grid md:grid-cols-3 gap-8">
                {

                    pricing.map( ( value, index ) => {

                        return(
                            <PricingCard
                                button_link={ value.button_link }
                                button_text={ value.button_text }
                                description={ value.description }
                                index={ index }
                                perks_not_included={ value.perks_not_included }
                                perks={ value.perks }
                                price={ value.price }
                                title={ value.title }
                                type={ value.plan }
                            />
                        )

                    })

                }
            </section>
            <section>
                <HeadingThree>Perks included in all plans :</HeadingThree>
                <section set:html={ html } class="markdown text-sm md:text-base" />
            </section>
        </section>
    </Container>
</section>
