---
// IMPORTS ASTRO LAYOUTS
import Container from "@/layouts/container/index.astro"

// IMPORTS ASTRO COMPONENTS
import PricingCard from "@/components/home/pricing/card/index.astro"

// IMPORTS ASTRO ATOMS
import HeadingTwo from "@/atoms/headings/two/index.astro"

const { data, pricing } = Astro.props
---
<section>
    <Container>
        <HeadingTwo>{ data.title }</HeadingTwo>
        <section class="grid grid-cols-2 gap-6 max-w-4xl mx-auto py-10">
            {

                pricing.map( ( value ) => {

                    return(
                        <PricingCard
                            type={ value.plan }
                            price={ value.price }
                            description={ value.description }
                            perks={ value.perks }
                            button_text={ value.button_text }
                            button_link={ value.button_link }
                        />
                    )

                })

            }
        </section>
    </Container>
</section>
