---
// IMPORTS CONSTANTS
import {

    CDN_LINK,
    IMAGE_QUALITY

} from "@/constants/images"

// IMPORTS ASTRO ATOMS
import Link from "@/atoms/links/index.astro"

const {

    date,
    image,
    title,
    slug

} = Astro.props
---
<div>
    <Link href={ "/blog/" + slug } aria_label="">
        <div class="flex flex-col gap-2 bg-slate-50 h-full rounded overflow-hidden border border-zinc-300 shadow">
            <div class="w-full aspect-video bg-zinc-200">
                <img
                    src={ CDN_LINK + image + "?quality=" + IMAGE_QUALITY }
                    alt=""
                    class="w-full h-full object-cover"
                />
            </div>
            <div class="p-4 flex flex-col justify-between grow">
                <div class="font-semibold text-lg text-slate-800">{ title }</div>
                <div class="italic text-sm text-slate-900 tracking-widest">{ date }</div>
            </div>
        </div>
    </Link
</div>
