.markdown h1 {
    @apply text-4xl md:text-5xl font-inter_tight font-medium py-4 !important;
}
.markdown h2 {
    @apply text-3xl md:text-4xl font-inter_tight font-medium py-4 !important;
}
.markdown h3 {
    @apply text-xl md:text-2xl font-inter_tight font-medium py-4 !important;
}
.markdown h4 {
    @apply text-lg md:text-xl font-inter_tight font-medium py-4 !important;
}
.markdown h5 {
    @apply md:text-lg font-inter_tight py-4 !important;
}
.markdown h6 {
    @apply font-inter_tight py-4 !important;
}
.markdown p {
    @apply md:text-lg font-inter_tight py-2 !important;
}
