---
// IMPORTING ASTRO COMPONENTS
import Li from "./li/index.astro"

// IMPORTING JSX COMPONENTS
import HeaderMobile from "./mobile-header/index.jsx"

// IMPORTING ASTRO LAYOUTS
import Container from "@/layouts/container/index.astro"

// IMPORTING ASTRO ATOMS
import PrimaryButton from "@/atoms/buttons/primary/index.astro"
import Link from "@/atoms/links/index.astro"
---
<header class="hidden md:flex items-center h-20 bg-gray-100">
    <Container>
        <section class="flex justify-between items-center h-full">
            <div class="flex items-center gap-6">
                <a href="/" class="hidden md:flex items-start justify-start">
                    <span class="text-4xl text-white bg-black rounded-full w-16 aspect-square text-center flex justify-center items-center">&#120121;</span>
                </a>
                <p class="text-2xl font-inter_tight tracking-wide animate-fade">Blupp Company</p>
            </div>
            <nav class="flex items-center h-full justify-end">
                <ul class="flex items-center gap-8">
                    <Li href="/about">Company</Li>
                    <Li href="/projects">Projects</Li>
                    <Li href="/blog">Blogs</Li>
                    <Link href="mailto:mohit@blupp.co" aria_label="">
                        <PrimaryButton>Contact</PrimaryButton>
                    <Link>
                </ul>
            </nav>
        </section>
    </Container>
</header>
<HeaderMobile client:load />
