---
// IMPORTING ATOMS
import HeadingFour from "@/atoms/headings/four/index.astro"

const {

    name,
    src,
    alt,
    github_link,
    website_link

} = Astro.props
---
<div class="rounded border border-zinc-200 bg-gray-50 shadow overflow-hidden">
    <a href="/projects">
        <div class="w-full aspect-video bg-zinc-200 overflow-hidden">
            <img
                src={ src }
                alt={ alt }
                class="w-full h-full object-cover"
            />
        </div>
    </a>
    <div class="p-4">
        <div class="flex flex-col gap-3 md:flex-row md:items-center md:justify-between">
            <a href={ website_link }>
                <HeadingFour>{ name }</HeadingFour>
            </a>
        </div>
        <!-- <div class="flex flex-col md:flex-row md:items-center md:justify-between">
            <div class="flex gap-6 items-center">
                <div class="w-6 aspect-square">
                    <img
                        src="/images/astro-logo.svg"
                        alt=""
                        class="w-6 aspect-square"
                    />
                </div>
                <div class="w-6 aspect-square">
                    <img
                        src="/images/tailwindcss-logo.svg"
                        alt=""
                        class="w-6 aspect-square"
                    />
                </div>
                <div class="w-12 aspect-video">
                    <img
                        src="/images/cloudflare-logo.png"
                        alt=""
                        class="w-full h-full"
                    />
                </div>
                <div class="w-16 aspect-square">
                    <img
                        src="/icons/notion.svg"
                        alt=""
                        class="w-16 aspect-square"
                    />
                </div>
            </div>
            <div class="flex gap-6 items-center">
                <a href={ website_link }>
                    <div class="w-5 aspect-square">
                        <img
                            src="/icons/website.svg"
                            alt=""
                            class="w-5 aspect-square"
                        />
                    </div>
                </a>
                <a href={ github_link } target="_blank">
                    <div class="w-6 aspect-square">
                        <img
                            src="/github.svg"
                            alt=""
                            class="w-6 aspect-square"
                        />
                    </div>
                </a>
                <a href={ website_link + "/benchmarking" } target="_blank">
                    <div class="w-5 aspect-square">
                        <img
                            src="/icons/benchmarking.svg"
                            alt=""
                            class="w-5 aspect-square"
                        />
                    </div>
                </a>
            </div>
        </div> -->
    </div>
</div>
