---
// IMPORTS ASTRO LAYOUTS
import Container from "@/layouts/container/index.astro"

// IMPORTS JSX COMPONENTS
import ContactForm from "@/components/contact-us/contact-form/index.jsx"

// IMPORTS ASTRO ATOMS
import HeadingOne from "@/atoms/headings/one/index.astro"
import Picture from "@/atoms/picture/index.astro"

const {

    CDN,
    contact,
    PROJECT

} = Astro.props
---
<Container>
    <section class="pt-28 md:pt-28 pb-4 md:py-20 md:h-screen md:max-h-[1000px] grid md:grid-cols-2 gap-4 md:gap-20">
        <section class="flex flex-col justify-center">
            <HeadingOne>{ contact.name }</HeadingOne>
            <ContactForm client:load />
        </section>
        <section class="flex items-center">
            <div class="w-full aspect-square bg-zinc-200">
                <Picture
                    alt=""
                    CDN={ CDN }
                    PROJECT={ PROJECT }
                    src={ contact.cover }
                    image_width="1200"
                />
            </div>
        </section>
    </section>
</Container>
<!-- Cal inline embed code begins -->
<div style="width:100%;height:100%;overflow:scroll" id="my-cal-inline"></div>
<script type="text/javascript">
    (function (C, A, L) { let p = function (a, ar) { a.q.push(ar); }; let d = C.document; C.Cal = C.Cal || function () { let cal = C.Cal; let ar = arguments; if (!cal.loaded) { cal.ns = {}; cal.q = cal.q || []; d.head.appendChild(d.createElement("script")).src = A; cal.loaded = true; } if (ar[0] === L) { const api = function () { p(api, arguments); }; const namespace = ar[1]; api.q = api.q || []; typeof namespace === "string" ? (cal.ns[namespace] = api) && p(api, ar) : p(cal, ar); return; } p(cal, ar); }; })(window, "https://app.cal.com/embed/embed.js", "init");
    Cal("init",  {origin:"[https://cal.com](https://cal.com/)"});

    Cal("inline", {
    elementOrSelector:"#my-cal-inline",
    calLink: "bluppco/30min",
    layout: "month_view"
    });

    Cal("ui", {"styles":{"branding":{"brandColor":"#000000"}},"hideEventTypeDetails":false,"layout":"month_view"});
</script>
<!-- Cal inline embed code ends -->