---
// IMPORTS ASTRO ATOMS
import HeadingThree from "@/atoms/headings/three/index.astro"
import HeadingFive from "@/atoms/headings/five/index.astro"
import Paragraph from "@/atoms/paragraphs/large/index.astro"

const {

    title,
    sub_title,
    description,
    index,
    bg_color

} = Astro.props
---
<div class="space-y-6 p-10" style={{ "background-color": bg_color }}>
    <div class="w-16 h-16 bg-black/40 rounded-full flex justify-center items-center">
        <p class="text-white text-lg">{ index }</p>
    </div>
    <div class="h-20">
        <HeadingThree>{ title }</HeadingThree>
    </div>
    <HeadingFive>{ sub_title }</HeadingFive>
    <Paragraph>{ description }</Paragraph>
</div>
