---
import Container from "../../layouts/Container.astro";
import HeadingOne from "../atom/heading/One.astro"
import Paragraph from "../atom/paragraph/Vanilla.astro"
---
<Container>
    <section class="py-10 pt-28 md:pt-10">
        <HeadingOne>About Blupp Company</HeadingOne>
        <Paragraph>I will write about our company and our vision on this page as I get time.</Paragraph>
    </section>
</Container>
