---
// IMPORTS JSX COMPONENTS
import TooltipJSX from "@/components/common/tooltip/index"

// IMPORTS ASTRO ATOMS
import HeadingThree from "@/atoms/headings/three/index.astro"

// IMPORTS CONSTANTS
import { CDN_LINK, IMAGE_QUALITY } from "@/constants/images"

const {

    name,
    src,
    alt,
    github_link,
    project_link,
    is_client,
    notion_setup,
    is_private,
    in_progress

} = Astro.props
---
<div class="space-y-4 md:space-y-6 rounded border border-zinc-200 bg-gray-50 shadow">
    <div class="w-full aspect-video bg-zinc-200">
        <img
            src={ CDN_LINK + src + "?quality=" + IMAGE_QUALITY }
            alt={ alt }
            class="w-full h-full object-cover"
        />
    </div>
    <div class="px-4">
        <div class="flex flex-col gap-3 md:flex-row md:items-center md:justify-between">
            <a href={ project_link }>
                <HeadingThree>{ name }</HeadingThree>
            </a>
            <div class="flex gap-2 items-center md:justify-end">
                <div class="flex items-center gap-1">
                    <button class="tracking-wider text-xs text-white bg-zinc-700 h-6 px-2 rounded flex items-center gap-2">Is Client ?
                        {

                            is_client === true &&

                            <div class="w-4 aspect-square">
                                <img
                                    src="/icons/tick.svg"
                                    alt=""
                                    class="w-4 aspect-square"
                                />
                            </div>

                        }
                        {

                            is_client === false &&

                            <div class="w-4 aspect-square">
                                <img
                                    src="/icons/cross.svg"
                                    alt=""
                                    class="w-4 aspect-square"
                                />
                            </div>

                        }
                    </button>
                </div>
                {

                    is_private === false &&

                    <button class="tracking-wider text-xs text-white bg-zinc-700 h-6 px-2 rounded">Open Source</button>

                }
                {

                    in_progress === true &&

                    <TooltipJSX
                        client:load
                        text="Project in progress"
                        src="/icons/in_progress.svg"
                        size="w-5 aspect-square"
                        image_size="w-5 aspect-square"
                    />

                }
            </div>
        </div>
        <div class="flex flex-col md:flex-row md:items-center md:justify-between gap-4 pb-10">
            <div>
                <div class="flex gap-6 items-center">
                    <TooltipJSX
                        client:load
                        text="Astro framework"
                        src="/images/astro-logo.svg"
                        size="w-6 aspect-square"
                        image_size="w-6 aspect-square"
                    />
                    <TooltipJSX
                        client:load
                        text="Tailwind CSS"
                        src="/images/tailwindcss-logo.svg"
                        size="w-6 aspect-square"
                        image_size="w-6 aspect-square"
                    />
                    <TooltipJSX
                        client:load
                        text="Cloudflare"
                        src="/images/cloudflare-logo.png"
                        size="w-12 aspect-video"
                        image_size="w-full h-full"
                    />
                    <TooltipJSX
                        client:load
                        text="Notion"
                        src="/icons/notion.svg"
                        size="w-16 aspect-square"
                        image_size="w-16 aspect-square"
                    />
                </div>
                <p class="text-xs font-inter_tight font-semibold uppercase tracking-widest">Tech stack</p>
            </div>
            <div class="md:space-y-4">
                <div class="flex gap-6 items-center">
                    <a href={ project_link } target="_blank">
                        <TooltipJSX
                            client:load
                            text="Visit website"
                            src="/icons/website.svg"
                            size="w-5 aspect-square"
                            image_size="w-5 aspect-square"
                        />
                    </a>
                    <a href={ github_link } target="_blank">
                        <TooltipJSX
                            client:load
                            text="View github"
                            src="/github.svg"
                            size="w-6 aspect-squar"
                            image_size="w-6 aspect-squar"
                        />
                    </a>
                    <a href={ project_link + "/benchmarking" } target="_blank">
                        <TooltipJSX
                            client:load
                            text="View benchmarking results"
                            src="/icons/benchmarking.svg"
                            size="w-5 aspect-squar"
                            image_size="w-5 aspect-squar"
                        />
                    </a>
                </div>
                <p class="text-xs font-inter_tight font-semibold uppercase tracking-widest flex md:justify-end">Explore</p>
            </div>
        </div>
    </div>
</div>
