---
const runtime = Astro.locals.runtime
const {

	CDN_LINK,
	ENDPOINT,
	PROJECT_NAME

} = runtime.env

// IMPORTS MARKED
import { marked } from "marked"

// IMPORTING LAYOUTS
import Layout from "@/layouts/layout/index.astro"

// IMPORTING COMPONENTS
import Header from "@/components/common/header/index.jsx"
import Footer from "@/components/common/footer/index.astro"
import Team from "@/components/about/team/index.astro"
import AboutOurCompany from "@/components/about/our-company/index.astro"

// NETWORK CALL FOR TEAM
const team_data = await fetch( ENDPOINT + "team" )
const team_data_json = await team_data.json()
const team = team_data_json.data.team

// NETWORK CALL
const data = await fetch( ENDPOINT + "page/about" )
const data_json = await data.json()

	if( data.status !== 200 ){

		return Astro.redirect("/")

	}

let about = data_json.data
let content = data_json.data.md

const html = marked.parse( content )
---
<Layout
	title={ about.meta_title }
	description={ about.meta_description }
	image={ about.cover }
>
	<section class="min-h-screen flex flex-col">
		<Header client:load />
		<AboutOurCompany data={ html } />
		<Team
			data={ team }
			CDN_LINK={ CDN_LINK }
			PROJECT_NAME={ PROJECT_NAME }
		/>
	</section>
	<Footer />
</Layout>
