---
// IMPORTS MARKED
import { marked } from "marked"

// IMPORTING LAYOUTS
import Layout from "@/layouts/layout/index.astro"

// IMPORTING COMPONENTS
import Header from "@/components/common/header/index.astro"
import Footer from "@/components/common/footer/index.astro"
import Team from "@/components/about/team/index.astro"
import AboutOurCompany from "@/components/about/our-company/index.astro"

// NETWORK CALL
const data = await fetch( "https://staging.api.blupp.co/page/about" )
const data_json = await data.json()

	if( data.status !== 200 ){

		return Astro.redirect("/")

	}

let about = data_json.data
let content = data_json.data.md

const html = marked.parse( content )
---
<Layout
	title={ about.meta_title }
	description={ about.meta_description }
	image={ about.cover }
>
	<section class="min-h-screen flex flex-col">
		<Header />
		<AboutOurCompany data={ html } />
		<Team />
	</section>
	<Footer />
</Layout>
