---
// IMPORTS MARKED
import { marked } from "marked"

// IMPORTING LAYOUTS
import Layout from "../layouts/Layout.astro"

// IMPORTING COMPONENTS
import Footer from "@/components/common/footer/index.astro"
import Team from "../components/about/team/index.astro"
import AboutOurCompany from "../components/about/our-company/index.astro"
import HomeHeader from "@/components/header/HomeHeader.astro"

// NETWORK CALL
const data = await fetch( "https://staging.api.blupp.co/pages/about" )
const data_json = await data.json()

// if( data.status !== 200 ){

//     return Astro.redirect("/")

// }

// let content = data_json.data.static.md

// const html = marked.parse( content )
// const meta = data_json.data.meta
---
<Layout>
	<section class="min-h-screen flex flex-col">
		<!-- HEADER -->
		<HomeHeader />
		<AboutOurCompany />
		<Team />
	</section>
	<!-- FOOTER -->
	<Footer />
</Layout>
