---
// IMPORTING ASTRO LAYOUTS
import Layout from "../layouts/Layout.astro"
import Container from "@/layouts/Container.astro"

// IMPORTS ASTRO COMPONENTS
import HomeHeader from "../components/header/HomeHeader.astro"
import Footer from "@/components/common/footer/index.astro"

// IMPORTS JSX COMPONENTS
import ContactForm from "@/components/contact-us/contact-form/index.jsx"

// IMPORTS ASTRO ATOMS
import HeadingOne from "@/atoms/headings/one/index.astro"
---
<Layout
	title="Contact Us | Blupp Company"
	description="Blupp Company"
	image=""
>
	<HomeHeader />
	<Container>
		<section class="pt-28 md:py-20 md:h-screen grid md:grid-cols-2 gap-4 md:gap-6">
			<section>
				<HeadingOne>Contact Us</HeadingOne>
				<ContactForm client:load />
			</section>
			<section></section>
		</section>
	</Container>
	<Footer />
</Layout>
