---
// NETWORK CALL
const data = await fetch( "https://staging.api.blupp.co/projects" )
const data_json = await data.json()
const projects = data_json.data.projects

// NETWORK CALL
// const data = await fetch( "https://staging.api.blupp.co/projects" )
// const data_json = await data.json()
// const projects = data_json.data.projects

// if( data.status !== 200 ){

//     return Astro.redirect("/")

// }

// IMPORTING LAYOUTS
import Layout from "../layouts/Layout.astro"

// IMPORTING COMPONENTS
import HomeHeader from "../components/header/HomeHeader.astro"
import Hero from "../components/home/Hero.astro"
import HowWeWork from "@/components/home/how-we-work/index.astro"
import Clients from "@/components/home/clients/index.astro"
import Projects from "@/components/home/projects/index.astro"
import TechStack from "@/components/home/tech-stack/index.astro"
import Footer from "@/components/common/footer/index.astro"
---
<Layout
	title="Home | Blupp Company"
	description="Blupp Company"
	image=""
>
	<section class="md:h-screen md:max-h-screen">
		<HomeHeader />
		<Hero />
	</section>
	<HowWeWork />
	<TechStack />
	<Clients />
	<Projects data={ projects } />
	<Footer />
</Layout>
