---
// IMPORTING LAYOUTS
import Layout from "../layouts/Layout.astro"

// IMPORTING COMPONENTS
import HomeHeader from "../components/header/HomeHeader.astro"
import Hero from "../components/home/Hero.astro"
import Masthead from "../components/home/Masthead.astro"
import Footer from "../components/Footer.astro"
---
<Layout
	title="Home | Blupp Company"
	description="Blupp Company"
	image=""
>
	<section class="flex flex-col md:justify-between mac:justify-start mac:gap-20 2xl:gap-60 md:h-screen md:max-h-screen overflow-hidden bg-gray-50 pb-10 mac:pb-10">
		<HomeHeader />
		<Hero />
	</section>
	<div class="md:hidden">
		<Footer />
	</div>
</Layout>
