---
// IMPORTING LAYOUTS
import Layout from "../layouts/Layout.astro"

// IMPORTING COMPONENTS
import Header from "../components/header/Header.astro"
import Hero from "../components/home/Hero.astro"
import Masthead from "../components/home/Masthead.astro"
---
<Layout
	title="Home | Blupp Company"
	description="Blupp Company"
	image=""
>
	<section class="grid grid-cols-5 gap-10 h-screen max-h-screen overflow-hidden bg-yellow-100">
		<section class="col-span-2 bg-purple-50 p-10">
			<Masthead />
		</section>
		<section class="col-span-3 bg-emerald-100 p-10">
			<Header />
			<Hero />
		</section>
	</section>
</Layout>
