---
// IMPORTING LAYOUTS
import Layout from "../layouts/Layout.astro"

// IMPORTING COMPONENTS
import HomeHeader from "../components/header/HomeHeader.astro"
import Hero from "../components/home/Hero.astro"
import Masthead from "../components/home/Masthead.astro"
---
<Layout
	title="Home | Blupp Company"
	description="Blupp Company"
	image=""
>
	<section class="grid grid-cols-5 gap-4 h-screen max-h-screen overflow-hidden bg-gray-50">
		<section class="p-4">
			<Masthead />
		</section>
		<section class="col-span-4 p-4 h-full flex flex-col justify-between">
			<HomeHeader />
			<Hero />
		</section>
	</section>
</Layout>
