---
// IMPORTS MARKED
import { marked } from "marked"

// IMPORTING ASTRO LAYOUTS
import Layout from "@/layouts/layout/index.astro"
import Container from "@/layouts/container/index.astro"

// IMPORTS ASTRO COMPONENTS
import Header from "@/components/common/header/index.astro"
import Footer from "@/components/common/footer/index.astro"

// IMPORTS ASTRO ATOMS
import HeadingOne from "@/atoms/headings/one/index.astro"

// NETWORK CALL
const data = await fetch( "https://staging.api.blupp.co/page/privacy-policy" )
const data_json = await data.json()

    if( data.status !== 200 ){

        return Astro.redirect("/")

    }

let privacy_policy = data_json.data
let content = data_json.data.md

const html = marked.parse( content )
---
<Layout
	title={ privacy_policy.meta_title }
	description={ privacy_policy.meta_description}
	image={ privacy_policy.cover }
>
    <Header />
    <Container>
        <section class="pt-20 md:pt-0">
            <HeadingOne>{ privacy_policy.title }</HeadingOne>
            <section set:html={ html } class="markdown py-4 md:py-10" />
        </section>
	</Container>
	<Footer />
</Layout>
