---
import {

    CDN_LINK,
    IMAGE_QUALITY

} from "@/constants/images"

const {

    date,
    image,
    title,

} = Astro.props
---
<div class="flex flex-col gap-2 bg-slate-50 h-full rounded overflow-hidden border border-zinc-300 shadow">
    <img
        src={ CDN_LINK + image + "?quality=" + IMAGE_QUALITY }
        alt=""
        class="w-full aspect-square object-cover bg-zinc-300"
    />
    <div class="p-4 flex flex-col justify-between grow">
        <div class="font-semibold text-lg text-slate-800">{ title }</div>
        <div class="italic text-sm text-slate-900 tracking-widest">{ date }</div>
    </div>
</div>
