---
const {

    src,
    alt,
    title,
    description,
    href,
    large

} = Astro.props
---
<div class={` ${ large ? "w-60 h-[400px]" : "w-60 h-80" } bg-emerald-100 rounded-2xl border border-black p-4 flex flex-col gap-4 items-center hover:shadow-2xl`}>
    <div class="size-10">
        <img
            src={ src }
            alt={ alt }
            class="w-full h-full object-contain"
        />
    </div>
    <p class="text-lg text-center font-medium">{ title }</p>
    <p class="text-center">{ description }</p>
</div>
