---
// IMPORT ATOMS
import Button from "../atom/Button.astro"
---
<section>
    <h1 class="text-8xl font-medium">Making web 2.0 faster.</h1>
    <Button href="" aria_label="get in touch" >Get in touch</Button>
</section>
