---
// IMPORTING ASTRO ATOMS
import Button from "../atom/Button.astro"

// IMPORTING JSX ATOMS
import AnnotateUnderline from "../atom/jsx/annotation/Underline"
import AnnotateCircle from "../atom/jsx/annotation/Circle"

// IMPORTING COMPONENTS
import InformationCard from "./InformationCard.astro"

const data = Array(1).fill({

    title: "This page serves only xkb of html, yKb of css, zKb of JS and loads under 50ms. Yours can too.",
    description: "Let us help you, get your website ultra fast.",

})
---
<section class="flex flex-col gap-10">
        <div>
            <span class="text-7xl md:text-8xl font-medium font-abril">Making </span>
            <AnnotateUnderline client:load>
                <span class="text-7xl md:text-8xl font-medium font-abril">web 2.0 </span>
            </AnnotateUnderline>
            <span class="text-7xl md:text-8xl font-medium font-abril"> ultra </span>
            <AnnotateCircle client:load>
                <span class="text-7xl md:text-8xl font-medium font-abril">fast.</span>
            </AnnotateCircle>
        </div>
    <div class="space-y-2 pt-4 md:pt-10">
        <!-- TRACK THIS EVENTw -->
        <a href="https://cal.com/mohitdotdev">
            <Button href="" aria_label="get in touch" >Get in Touch</Button>
        </a>
    </div>
    <div class="md:pt-10">
        {

            data.map( ( value ) => {

                return(
                    <InformationCard
                        title={ value.title }
                        description={ value.description }
                    />
                )

            })

        }
    </div>
</section>
