---
// IMPORTING COMPONENTS
import FactCard from "./FactCard.astro"

const data = Array(3).fill({

    src: "/image.png",
    alt: "",
    title: "Why are we using Astro",
    description: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque est voluptatum, rerum deleniti vitae nostrum maxime vel itaque.",
    href: ""

})
---
<section class="grid grid-cols-2 gap-4 h-full">
    <!-- <a href="/">
        <span class="text-[120px] text-white bg-black rounded-full px-12 py-4">&#120121;</span>
    </a> -->
    <div class="flex justify-center items-center">
        <a href="">
            <div class="p-12 bg-zinc-100 rounded-full w-fit hover:shadow-2xl">
                <div class="w-24 aspect-square rounded-full">
                    <img
                        src="/blupp_favicon.svg"
                        alt=""
                        class="w-24 aspect-square"
                    />
                </div>
            </div>
        </a>
    </div>
    {

        data.map( ( value, index ) => {

            return(
                <FactCard
                    src={ value.src }
                    alt={ value.alt }
                    title={ value.title }
                    description={ value.description }
                    href={ value.href }
                    large={ index % 2 }
                />
            )

        })

    }
</section>
