---
// IMPORTING COMPONENTS
import Headeritem from "./Headeritem.astro"
---
<header class="hidden md:block h-28 bg-zinc-200">
    <nav class="flex items-center h-full">
        <ul class="flex gap-8">
            <Headeritem href="/projects">Projects</Headeritem>
            <Headeritem href="/about">Company</Headeritem>
            <Headeritem href="/projects">Projects</Headeritem>
            <Headeritem href="/about">Company</Headeritem>
        </ul>
    </nav>
</header>
