---
// IMPORTING COMPONENTS
import HomeHeaderitem from "./HomeHeaderitem.astro"
---
<header class="hidden md:block h-14">
    <nav class="flex items-center h-full justify-end">
        <ul class="flex gap-8">
            <HomeHeaderitem href="/projects">Projects</HomeHeaderitem>
            <HomeHeaderitem href="/about">Company</HomeHeaderitem>
            <div class="font-playfair tracking-wide underline">
                <a href="mailto:contact@blupp.co"><span class="font-medium">mohit@blupp.co</span></a>
            </div>
        </ul>
    </nav>
</header>
