---
// IMPORTING COMPONENTS
import Headeritem from "./HeaderItem.astro"
---
<header class="hidden md:block h-14">
    <nav class="flex items-center h-full justify-end">
        <ul class="flex gap-8">
            <Headeritem href="/projects">Projects</Headeritem>
            <Headeritem href="/about">Company</Headeritem>
        </ul>
    </nav>
</header>
