---
const { href } = Astro.props
---
<li class="group font-playfair tracking-wide">
    <a href={ href }>
        <slot/>
    </a>
    <div class="w-0 bg-black group-hover:w-full h-[1px] transition-width duration-300 ease-in"></div>
</li>
