---
// IMPORTING ASTRO COMPONENTS
import HomeHeaderitem from "./HomeHeaderitem.astro"

// IMPORTING JSX COMPONENTS
import HeaderMobile from "./HeaderMobile"

// IMPORTING ASTRO LAYOUTS
import Container from "../../layouts/Container.astro"

// IMPORTING ASTRO ATOMS
import PrimaryButton from "@/atoms/buttons/primary/index.astro"
import Link from "@/atoms/links/index.astro"
---
<header class="hidden md:flex items-center h-20 bg-gray-100">
    <Container>
        <section class="flex justify-between items-center">
            <div class="flex items-center gap-6">
            <a href="/" class="hidden md:flex items-start justify-start">
                <span class="text-4xl text-white bg-black rounded-full w-16 aspect-square text-center flex justify-center items-center">&#120121;</span>
            </a>
            <p class="text-2xl font-playfair tracking-wide animate-fade">Blupp Company</p>
        </div>
            <nav class="flex items-center h-full justify-end">
                <ul class="flex items-center gap-8">
                    <HomeHeaderitem href="/about">Company</HomeHeaderitem>
                    <HomeHeaderitem href="/projects">Projects</HomeHeaderitem>
                    <HomeHeaderitem href="/blog">Blogs</HomeHeaderitem>
                    <Link href="mailto:mohit@blupp.co" aria_label="">
                        <PrimaryButton>Contact</PrimaryButton>
                    <Link>
                    <!-- <div class="font-the_seasons tracking-wide underline">
                        <a href="mailto:mohit@blupp.co"><span class="font-medium">mohit@blupp.co</span></a>
                    </div> -->
                </ul>
            </nav>
        </section>
    </Container>
</header>
<HeaderMobile client:load />
