---
const {

    date,
    title,

} = Astro.props
---
<div class="flex flex-col">
    <div class="font-semibold text-lg text-slate-800">{ title }</div>
    <div class="italic text-sm text-slate-900">{ date }</div>
</div>
