<!-- USING FOOTER HTML TAG -->
<!-- WHY? BECAUSE WE CARE WHAT BROWSERS READ -->
<footer class="bg-zinc-100">
    <!--  FIX FOR IPAD -->
    <div class="container max-w-4xl lg:max-w-6xl mx-auto py-6 justify-center items-center flex-col px-4 xl:px-0">
        <div class="flex items-center flex-col gap-4">
            <!-- JOKE IN FOOTER -->
            <!-- NOBODY CARES ABOUT VIEWERS COUNT EXCEPT FOR ð• -->
            <p class="font-light md:text-2xl text-zinc-700 text-center italic">[should we build something all government websites have, a counter?]</p>
            <div class="text-center flex flex-col gap-2">
                <!-- ANOTHER JOKE IN FOOTER -->
                <!-- I THINK WE ARE AHEAD OF THE CURVE -->
                <p class="font-light text-xs">Blupp Co &copy; 2024 (YES)</p>
                <!-- PROUDLY WORKING FROM THE CAPITAL OF INDIA -->
                <p class="font-light text-xs">Delhi, India</p>
            </div>
        </div>
    </div>
</footer>
