---
import { getCollection } from 'astro:content';
import Link from '../layouts/Link.astro';
import Blog from './Blog.astro';
import H1 from './atom/H1.astro';
let full_stack_india = await getCollection('full-stack-india')
full_stack_india = full_stack_india.sort((a, b) => a.data.order - b.data.order)
full_stack_india = full_stack_india.filter( ( item ) => item.data.live )
---
<section class="py-10">
    <div class="py-">
        <H1
            text="Fullstack India"
        />
    </div>
    <section class="grid grid-cols-3 gap-4 py-6">

        {

            full_stack_india.map( ( item ) => {

                return(
                        <Link link={ "/full-stack-india/" + item.data.link }>
                            <div class="h-full">
                            <Blog
                                title={ item.data.title }
                                date={ item.data.date }
                            />
                        </div>
                        </Link>
                    )

            })

        }

    </section>
</section>
