<!-- HEADER COMPONENT WITH TAILWIND -->
<header class="bg-zinc-700">
    <!--  FIX FOR IPAD -->
    <div class="container max-w-4xl lg:max-w-6xl mx-auto py-2 px-4 xl:px-0">
        <h1 class="font-bold text-lg md:text-2xl text-white">
            <a href="/">
                <span class="text-6xl">&#120121;</span>
            </a>
        </h1>
    </div>
</header>
