---
// IMPORTING COMPONENTS
import Header from "../../components/Header.astro"
import Footer from "../../components/Footer.astro"
import MetaTags from "../../components/MetaTags.astro"
import BluppBar from "../../components/benchmarking/BluppBar.astro"
import OthersBar from "../../components/benchmarking/OthersBar.astro"
import Bar from "../../components/benchmarking/Bar.astro"
import PageOverall from "../../components/benchmarking/PageOverall.astro"

// IMPORTING CONSTANTS
import { BASE_URL } from "../../constants"

import { getCollection } from 'astro:content';
export async function getStaticPaths() {

	const workEntries = await getCollection('benchmarking');
  	return workEntries.map(entry => ({

		params: { slug: entry.slug }, props: { entry },

  	}))

}
let data = {

	name: "Overall",
	requests_blupp: "0",
	requests: "0",
	size_blupp: "0",
	size: "0",
	transfer_blupp: "0",
	transfer: "0",

}
const { entry } = Astro.props;
entry.data.pages?.map( ( pages ) => {

	pages.type.map( (page) => {

		data.requests_blupp = ( parseFloat(data.requests_blupp) + parseFloat(page.requests_blupp)).toFixed(2)
		data.requests = ( parseFloat(data.requests) + parseFloat(page.requests)).toFixed(2)
		data.size_blupp = ( parseFloat(data.size_blupp) + parseFloat(page.size_blupp)).toFixed(2)
		data.size = ( parseFloat(data.size) + parseFloat(page.size)).toFixed(2)
		data.transfer_blupp = ( parseFloat(data.transfer_blupp) + parseFloat(page.transfer_blupp)).toFixed(2)
		data.transfer = ( parseFloat(data.transfer) + parseFloat(page.transfer)).toFixed(2)

	})

})
---

<html lang="en">
	<MetaTags
		title="Home | Blupp Company"
		description="Blupp Company"
		image="ttps://metatags.io/images/meta-tags.png"
		url={ BASE_URL }
	/>
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>Blupp.co</title>
	</head>
	<body>
		<section class="min-h-screen flex flex-col">
			<!-- COMPONENT FOR HEADER -->
			<Header />
			<section class="container max-w-4xl lg:max-w-6xl mx-auto py-6 flex grow px-4 xl:px-0 flex-col gap-12">
				<div class="font-bold text-4xl text-zinc-900">{ entry.data.page }</div>
				<section>
					<div class="grid grid-cols-1 md:grid-cols-3 gap-8 mt-4">
						<div class="bg-zinc-200 col-span-1 md:col-span-2 p-8 gap-4 flex flex-col rounded border border-zinc-300">
							<div class="text-xl font-bold text-zinc-800">{ data.name }</div>
							<Bar
								title="Size"
								blupp_width={ Math.round(+data.size_blupp / (+data.size + +data.size_blupp) * 100) }
								blupp_size={ +data.size_blupp }
								size={ +data.size }
								width={ Math.round(+data.size / (+data.size + +data.size_blupp) * 100) }
							/>
							<Bar
								title="Transfers"
								blupp_width={ Math.round(+data.transfer_blupp / (+data.transfer + +data.transfer_blupp) * 100) }
								blupp_size={ +data.transfer_blupp }
								size={ +data.transfer }
								width={ Math.round(+data.transfer / (+data.transfer + +data.transfer_blupp) * 100) }
							/>
							<Bar
								title="Requests"
								blupp_width={ Math.round(+data.requests_blupp / (+data.requests + +data.requests_blupp) * 100) }
								blupp_size={ +data.requests_blupp }
								size={ +data.requests }
								width={ Math.round(+data.requests / (+data.requests + +data.requests_blupp) * 100) }
								without_units={ true }
							/>
						</div>
						<div class="p-10 bg-zinc-200 flex items-center justify-center flex-col gap-4 rounded border border-zinc-300 relative">
							<div class="text-center">
								<div class="font-bold text-3xl md:text-4xl text-transparent bg-clip-text bg-gradient-to-br from-indigo-500 to-emerald-400">
									{ (+data.size / +data.size_blupp).toFixed(2) }x
								</div>
								<div class="font-light text-zinc-600 text-xs">Size</div>
							</div>
							<div class="text-center">
								<div class="font-bold text-3xl md:text-4xl text-transparent bg-clip-text bg-gradient-to-br from-indigo-500 to-emerald-400">
									{ (+data.transfer / +data.transfer_blupp).toFixed(2) }x
								</div>
								<div class="font-light text-zinc-600 text-xs">Transfer</div>
							</div>
							<div class="text-center">
								<div class="font-bold text-5xl md:text-6xl text-transparent bg-clip-text bg-gradient-to-br from-pink-400 to-red-600">
									{

										(+data.transfer - +data.transfer_blupp) < 1000 &&
										<div>{ ((+data.transfer - +data.transfer_blupp)).toFixed(2) }Gb<sup>*</sup></div>

									}
									{

										(+data.transfer - +data.transfer_blupp) > 1000 &&
										<div>{ ((+data.transfer - +data.transfer_blupp)/1000).toFixed(2) }Tb<sup>*</sup></div>

									}
								</div>
								<div class="font-light text-zinc-600 text-xs">Saved</div>
							</div>
							<div class="absolute bottom-4 left-4 text-xs font-light">* saved over 1M hits.</div>
						</div>
					</div>
				</section>
				{

					entry.data.pages?.map( ( data ) =>{

						return (
							<div class="p-8 bg-zinc-100 rounded border border-zinc-200">
								<div class="font-bold text-2xl md:text-3xl">{ data.name } Page</div>
								<PageOverall data={ data }/>
								{

									data.type.map( ( type ) => {

										return (

											<div class="grid grid-cols-1 md:grid-cols-3 gap-8 mt-8">
												<div class="bg-zinc-200 md:col-span-2 p-8 gap-4 flex flex-col rounded border border-zinc-300">
													<div class="text-xl font-bold text-zinc-800">{ type.name }</div>
													<Bar
														title="Size"
														blupp_width={ Math.round(type.size_blupp / (type.size + type.size_blupp) * 100) }
														blupp_size={ type.size_blupp }
														size={ type.size }
														width={ Math.round(type.size / (type.size + type.size_blupp) * 100) }
													/>
													<Bar
														title="Transfers"
														blupp_width={ Math.round(type.transfer_blupp / (type.transfer + type.transfer_blupp) * 100) }
														blupp_size={ type.transfer_blupp }
														size={ type.transfer }
														width={ Math.round(type.transfer / (type.transfer + type.transfer_blupp) * 100) }
													/>
													<Bar
														title="Requests"
														blupp_width={ Math.round(type.requests_blupp / (type.requests + type.requests_blupp) * 100) }
														blupp_size={ type.requests_blupp }
														size={ type.requests }
														width={ Math.round(type.requests / (type.requests + type.requests_blupp) * 100) }
														without_units={ true }
													/>
												</div>
												<div class="p-4 bg-zinc-200 flex items-center justify-center flex-col gap-4 rounded border border-zinc-300">
													<div class="text-center">
														<div class="font-bold text-2xl md:text-3xl">
															{ Number.isFinite(+(type.size / type.size_blupp).toFixed(2)) ? (type.size / type.size_blupp).toFixed(2) +"x" : "🚀" }
														</div>
														<div class="font-light text-zinc-600 text-xs">Size</div>
													</div>
													<div class="text-center">
														<div class="font-bold text-2xl md:text-3xl">
															{ Number.isFinite(+(type.transfer / type.transfer_blupp).toFixed(2)) ? (type.transfer / type.transfer_blupp).toFixed(2) +"x" : "🚀" }
														</div>
														<div class="font-light text-zinc-600 text-xs">Transfer</div>
													</div>
													<div class="text-center">
														<div class="font-bold text-4xl md:text-6xl text-transparent bg-clip-text bg-gradient-to-br from-pink-400 to-red-600">
															{ ((type.transfer - type.transfer_blupp)).toFixed(2) }Gb
														</div>
														<div class="font-light text-zinc-600 text-xs">Saved</div>
													</div>
												</div>
											</div>

										)

									})

								}
							</div>
						)

					})

				}
				<div class="flex gap-8">
					<div class="flex gap-4 items-center">
						<div class="h-8 w-8 bg-gradient-to-r from-indigo-500 to-emerald-400 rounded"></div>
						<div class="">Blupp</div>
					</div>
					<div class="flex gap-4 items-center">
						<div class="h-8 w-8 bg-slate-700 rounded"></div>
						<div class="">{ entry.data.other_technology }</div>
					</div>
				</div>
			</section>
		</section>
		<!-- FOOTER -->
		<Footer />
	</body>
</html>
