---
// IMPORTING COMPONENTS
import Header from "../../components/Header.astro"
import Footer from "../../components/Footer.astro"
import MetaTags from "../../components/MetaTags.astro"
import H1 from "../../components/atom/H1.astro"
import P from "../../components/atom/P.astro"

// IMPORTING CONSTANTS
import { BASE_URL } from "../../constants"

import { getCollection } from 'astro:content';
const benchmarking = await getCollection('benchmarking');
---

<html lang="en">
	<MetaTags
		title="Benchmarking | Blupp Company"
		description="Benchmarking | Blupp Company"
		image=""
		url={ BASE_URL + "benchmarking" }
	/>
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>Blupp.co</title>
	</head>
	<body>
		<section class="min-h-screen flex flex-col">
		<!-- COMPONENT FOR HEADER -->
			<Header />
			<section class="container max-w-4xl lg:max-w-6xl mx-auto py-6 flex grow px-4 xl:px-0 flex-col">
				<H1
					text="Benchmarking Results"
				/>
				{

					benchmarking.map( ( project ) => {
						return(
							<a href={ "/benchmarking/" + project.slug }>
								<div>
									<div>{ project.data.page }</div>
								</div>
							</a>
						)
					})

				}
			</section>
		</section>
		<!-- FOOTER -->
        <Footer />
	</body>
</html>
