---
// IMPORTS ASTRO LAYOUTS
import Container from "@/layouts/Container.astro"

import Link from "@/atoms/links/index.astro"
import Blog from '../blog-cover/index.astro'
import HeadingOne from "@/atoms/headings/one/index.astro"

const { blog } = Astro.props
---
<section class="py-20">
    <Container>
        <div>
            <HeadingOne>Blogs</HeadingOne>
        </div>
        <section class="grid grid-cols-1 md:grid-cols-3 gap-4 py-6">

            {

                blog.map( ( blog ) => {

                    return(
                            <Link href={ "/blog/" + blog.slug }>
                                <div class="h-full">
                                    <Blog
                                        image={ blog.cover }
                                        title={ blog.title }
                                        date={ blog.date }
                                    />
                                </div>
                            </Link>
                        )

                })

            }

        </section>
    </Container>
</section>
