<section class="bg-black py-4">
    <div class="flex gap-2 justify-center items-center">
        <p class="font-light text-xs text-white tracking-wider">Blupp Co &copy; { new Date().getFullYear() + 1 } (YES)</p>
        <p class="font-light text-xs text-white">|</p>
        <p class="font-light text-xs text-white tracking-wider">New Delhi, India</p>
    </div>
</section>
