---
// IMPORTS ASTRO ATOMS
import HeadingSix from "@/atoms/headings/six/index.astro"
import Paragraph from "@/atoms/paragraphs/regular/index.astro"

// IMPORTS CONSTANTS
import { IMAGE_QUALITY } from "@/constants/images"

const {

    alt,
    CDN,
    description,
    PROJECT,
    src,
    title,

} = Astro.props

---
<div class="flex justify-center gap-4">
    <div class="flex items-center gap-6">
        <div class="h-8 w-16">
            <img
                src={ CDN + PROJECT + "/" + src + "?quality=" + IMAGE_QUALITY }
                alt={ alt }
                class="w-full h-full object-contain"
            />
        </div>
        <!-- <HeadingSix>{ title }</HeadingSix> -->
    </div>
    <!-- <Paragraph>{ description }</Paragraph> -->
</div>
