---
// IMPORTS JSX COMPONENTS
import TooltipJSX from "@/components/common/tooltip/cdn-image/index.jsx"

const {

    alt,
    CDN,
    description,
    PROJECT,
    src,
    title

} = Astro.props

---
<div class="flex justify-center items-center">
    <div class="w-fit">
        <TooltipJSX
            alt={ alt }
            CDN={ CDN }
            client:load
            image_size="w-full h-full object-contain"
            PROJECT={ PROJECT }
            size="h-12 w-full"
            src={ src }
            text={ title }
        />
    </div>
</div>
