---
// IMPORTS ASTRO ATOMS
import HeadingThree from "@/atoms/headings/three/index.astro"
import Paragraph from "@/atoms/paragraphs/regular/index.astro"

const {

    src,
    alt,
    title,
    description

} = Astro.props
---
<div class="space-y-4 p-8 border border-zinc-400 bg-gray-50">
    <div class="flex items-center gap-6">
        <div class="h-12 w-16">
            <img
                src={ src }
                alt={ alt }
                class="w-full h-full object-contain"
            />
        </div>
        <HeadingThree>{ title }</HeadingThree>
    </div>
    <Paragraph>{ description }</Paragraph>
</div>
