---
// IMPORTS ASTRO LAYOUTS
import Container from "@/layouts/container/index.astro"

// IMPORTS ASTRO COMPONENTS
import Li from "./li/index.astro"
import SocialIcons from "./social-icons/index.astro"
import Copyright from "./copyright/index.astro"

// IMPORTS ASTRO ATOMS
import Link from "@/atoms/links/index.astro"
---
<footer class="bg-gray-100">
    <Container>
        <section class="grid md:grid-cols-4 gap-8 md:gap-4 py-10 md:py-20">
            <section class="flex flex-col gap-8 md:gap-10 md:col-span-2">
                <Link href="/" aria_label="">
                    <div class="flex items-center gap-2">
                        <p class="text-2xl md:text-3xl text-white bg-black rounded-full w-12 md:w-16 aspect-square text-center flex justify-center items-center">&#120121;</p>
                        <p class="text-2xl md:text-3xl font-inter_tight tracking-wide">Blupp Company</p>
                    </div>
                </Link>
                <SocialIcons />
            </section>
            <section>
                <ul class="space-y-2">
                    <Li href="/about" aria_label="">About</Li>
                    <Li href="/projects" aria_label="">Projects</Li>
                    <Li href="/blogs" aria_label="">Blogs</Li>
                    <Li href="/contact-us" aria_label="">Contact Us</Li>
                    <Li href="/privacy-policy" aria_label="">Privacy Policy</Li>
                    <Li href="/terms-and-conditions" aria_label="">Terms and conditions</Li>
                </ul>
            </section>
        </section>
    </Container>
    <Copyright />
</footer>
