<section class="space-y-2">
    <p class="font-inter_tight font-semibold text-2xl tracking-wider">Follow Us</p>
    <div class="flex gap-4 items-center">
        <a href="https://github.com/bluppco" target="_blank">
            <img
                src="/icons/github.svg"
                class="w-8 h-8"
            />
        </a>
        <a href="https://x.com/bluppco" target="_blank">
            <div class="text-3xl">&#120143;</div>
        </a>
        <a href="https://www.linkedin.com/company/blupp" target="_blank">
            <img
                src="/icons/linkedin.svg"
                class="w-7 h-7"
            />
        </a>
    </div>
</section>
